body {
  background-color: #daa492;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: #537284;
}
img {
  display: block;
  border-radius: 10px;
  max-width: 100%;
  margin: auto;
}
.email-link {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
